export PORT=:8080
export HOST=localhost
export DSN=postgres://youruser:yourpasword@localhost/databasename?sslmode=disable
export DB_MAX_OPEN_CONNS=30
export DB_MAX_IDLE_CONNS=30
export DB_MAX_IDLE_TIME=900s
export SECRET_KEY=yousecretkey
export SECURE_TOKEN=false
export AUTH_TOKEN_NAME=dev_token
